@page
@using LIMSInfrastructure.Identity
@inject RoleManager<ApplicationRole> RoleManager
@inject UserManager<ApplicationUser> UserManager
@model IndexModel
@{
}

<div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-controller="Home" asp-action="Index">Home</a>
		</li>
		<li class="breadcrumb-item active">Users-admin</li>
	</ol>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Roles</h3>
        <table class="table table-sm table-striped table-hover table-bordered table-responsive-md">
            <thead class="thead-light">
                <tr>
                    <th>Role Id</th>
                    <th>Role Name (Normalized)</th>
                    <th>Role Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>               
                @foreach (var role in Model.RolesList)
                {
                    <tr>
                        <td> @role.Id </td>
                        <td> @role.NormalizedName </td>
                        <td> @role.Name </td>
                        <td>
                            <form method="post" class="form-inline">
                                <input type="hidden" asp-for="@Model.RoleToRemove" value="@role.NormalizedName" /><input type="submit" class="btn btn-sm btn-danger top5" value="Delete Role" asp-page-handler="DeleteRole" />
                                <a class="btn btn-sm btn-warning disabled top5 ml-1">Edit Role</a>
                            </form>
                            
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4" class="text-center"><a asp-page="./Roles" class="btn btn-sm btn-success"><i class="fa fa-plus">&nbsp;</i>&nbsp;Create role</a></td>
                </tr>
                </tbody>
           
            </table>
        </div>   
    </div>

<div class="row">
    <div class="col-md-12">
        <h3>Users</h3>
        <table class="table table-sm table-striped table-hover table-bordered table-light table-responsive-md">
            <thead class="thead-light">
                <tr>
                    <th>User Name</th>
                    <th>Current Roles</th>

                    <th>Add Roles</th>
                    <th>Remove Roles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.UsersList)
                {
                    <tr>
                        <td> @user.UserName </td>
                        <td>
                            @{
                                var currentUsersRoles = await UserManager.GetRolesAsync(user);
                                if (currentUsersRoles.Count == 0)
                                {
                                    @*@: User not assigned to any roles*@
                                    <span class="text-info font-weight-bold">User not assigned to any roles</span>
                                }
                                else
                                {
                                    <ul>
                                        @foreach (var userRole in currentUsersRoles)
                                        {
                                            <li> @userRole </li>
                                        }
                                    </ul>
                                }
                            }
                        </td>
                        @if (Model.Roles.Count < 1)
                        {
                            <td colspan="2" class="text-center text-info">
                                No roles are currently available. Please add a role.
                            </td>

                        }
                        else
                        {
                            <td class="text-center">
                                <form method="post" class="form-inline">
                                    <input type="hidden" asp-for="@Model.UsernameToAddRoleTo" value="@user.UserName" />
                                    <select asp-for="RoleToAdd" asp-items="@Model.Roles" class="form-control form-control-sm top5"></select><br />
                                    <input type="submit" asp-page-handler="AddRoleToUser" class="btn btn-sm btn-success ml-1 top5" value="Add to user" />
                                </form>

                                <form method="post" class="form-inline top5">
                                    <input type="hidden" asp-for="@Model.UsernameToAddRoleTo" value="@user.UserName" />
                                    <input type="submit" asp-page-handler="AddAllRolesToUser" class="btn btn-sm btn-success ml-1" value="Add all to user" />
                                </form>
                            </td>
                            <td class="text-center">
                                <form method="post" class="form-inline top5">
                                    <input type="hidden" asp-for="@Model.UsernameToRemoveRoleFrom" value="@user.UserName" />
                                    <select asp-for="RoleToRemove" asp-items="@Model.Roles" class="form-control form-control-sm top5"></select><br />
                                    <input type="submit" asp-page-handler="RemoveRoleFromUser" class="btn btn-sm btn-danger ml-1 top5" value="Remove from user" />
                                </form>

                                <form method="post" class="form-inline top5">
                                    <input type="hidden" asp-for="@Model.UsernameToRemoveRoleFrom" value="@user.UserName" />
                                    <input type="submit" asp-page-handler="RemoveAllRolesFromUser" class="btn btn-sm btn-danger ml-1" value="Remove all from user" />
                                </form>
                            </td>
                        }
                    </tr>
                }
                <tr>
                    <td colspan="4" class="text-center"><a asp-page="./User" class="disabled btn btn-sm btn-success"><i class="fa fa-plus">&nbsp;</i>&nbsp;Create new user</a></td>
                </tr>
            </tbody>
            
            
        </table>
    </div>  
</div>


	
	
