@using Microsoft.AspNetCore.Identity
@using LIMS.Infrastructure.Identity
@using System.Globalization;
@using Microsoft.Extensions.Options
@using LIMS.Infrastructure.Services.Payment

@model LIMS.WebApp.ViewModels.PropertiesViewModels.RateViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IOptions<StripeSettings> Stripe


@{
    ApplicationUser user = await UserManager.FindByNameAsync(User.Identity.Name);
    var phone = user.PhoneNumber;

    CultureInfo cultureInfo = new CultureInfo("en-US");
    string pendingrate = Model.PendingRate;
    //int money = int.Parse(pendingrate);

    //var price = string.Format("{0:C}", money);

}

@if (SignInManager.IsSignedIn(User))
{

<div class="row">

	@await Component.InvokeAsync("PaymentMethod", new { amount = Model.PendingRate, invoicenumber = Model.InvoiceNumber})


	<div class="col-md-6">
		<h5 class="d-flex justify-content-center align-items-center mb-3">
			<span class="text-muted">Property Details</span>
		</h5>
		<ul class="list-group mb-3">
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-6">
						<h6 class="my-0">Owner Details</h6>

						<small class="text-muted">Name: @Model.OwnerName</small> <br />
						<small class="text-muted">Identity Number: @Model.OwnerId</small> <br />
						<small class="text-muted">KRA PIN: @Model.OwnerPIN</small>
					</div>
					<div class="col-md-6">
						<h6 class="my-0">Property Details</h6>
						<small class="text-muted">Property Number: @Model.ParcelNumber</small> <br />
						<small class="text-muted">Rate Year: @Model.FinancialYear</small> <br />
						<small class="text-muted">Invoice Number: @Model.InvoiceNumber</small>
					</div>
				</div>
			</li>
			<li class="list-group-item d-flex justify-content-center">
				<span>Total Pending Amount (KSH): </span>
				<strong>@Model.PendingRate</strong>
			</li>
		</ul>
	</div>
</div>

}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger text-center font-weight-bold">
            <i class="fa fa-warning"></i>
            <strong>You must be signed in to make payments</strong>
        </div>
    </div>
}
