@page
@using LIMS.Infrastructure.Identity
@inject RoleManager<ApplicationRole> RoleManager
@inject UserManager<ApplicationUser> UserManager
@model IndexModel
@{
}

<div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-controller="Home" asp-action="Index">Home</a>
		</li>
		<li class="breadcrumb-item active">Role based Access and Control</li>
	</ol>
</div>

<section class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Manage Users & Roles</h4>
			</div>
			<div class="card-content">
				<div class="card-body">

					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" role="tab" aria-selected="true">Users</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" role="tab" aria-selected="false">Roles</a>
						</li>						
					</ul>

					<div class="tab-content px-1 pt-1">
						<div class="tab-pane active" id="tab1" role="tabpanel" aria-labelledby="base-tab1">
							<div class="table-responsive">
								<table class="table table-sm mb-0">
									<thead class="">
										<tr>
											<th>User Name</th>
											<th>Current Roles</th>
											<th>Add Roles</th>
											<th>Remove Roles</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var user in Model.UsersList)
										{
											<tr>
												<td> @user.UserName </td>
												<td>
													@{
														var currentUsersRoles = await UserManager.GetRolesAsync(user);
														if (currentUsersRoles.Count == 0)
														{
														
															<span class="text-warning font-weight-light">User not assigned to any roles</span>
														}
														else
														{
															<ul>
																@foreach (var userRole in currentUsersRoles)
																{
																	<li> @userRole </li>
																}
															</ul>
														}
													}
												</td>
												@if (Model.Roles.Count < 1)
												{
													<td colspan="2" class="text-center text-info">
														No roles are currently available. Please add a role.
													</td>

												}
												else
												{
													<td class="">
														<form method="post" class="d-inline">
															<input type="hidden" asp-for="@Model.UsernameToAddRoleTo" value="@user.UserName" />
															<select asp-for="RoleToAdd" asp-items="@Model.Roles" class="custom-select block" id="customSelect"></select><br />
															<input type="submit" asp-page-handler="AddRoleToUser" class="btn btn-sm btn-success " value="Add to user" />
														</form>

														<form method="post" class="d-inline">
															<input type="hidden" asp-for="@Model.UsernameToAddRoleTo" value="@user.UserName" />
															<input type="submit" asp-page-handler="AddAllRolesToUser" class="btn btn-sm btn-success " value="Add all to user" />
														</form>
													</td>
													<td class="">
														<form method="post" class="d-inline ">
															<input type="hidden" asp-for="@Model.UsernameToRemoveRoleFrom" value="@user.UserName" />
															<select asp-for="RoleToRemove" asp-items="@Model.Roles" class="custom-select block" id="customSelect"></select><br />
															<input type="submit" asp-page-handler="RemoveRoleFromUser" class="btn btn-sm btn-danger " value="Remove from user" />
														</form>

														<form method="post" class="d-inline">
															<input type="hidden" asp-for="@Model.UsernameToRemoveRoleFrom" value="@user.UserName" />
															<input type="submit" asp-page-handler="RemoveAllRolesFromUser" class="btn btn-sm btn-danger" value="Remove all from user" />
														</form>
													</td>
												}
											</tr>
										}
										<tr>
											<td colspan="4" class="text-center"><a asp-page="./User" class="disabled btn btn-sm btn-success"><i class="fa fa-plus">&nbsp;</i>&nbsp;Create new user</a></td>
										</tr>
									</tbody>
								</table>

								
							</div>
						</div>

						<div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="base-tab2">
							<div class="table-responsive">
								<table class="table table-sm mb-0">
									<thead class="">
										<tr>
											<th>Role Id</th>
											@*<th>Role Name (Normalized)</th>*@
											<th>Role Name</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var role in Model.RolesList)
										{
											<tr>
												<td> @role.Id </td>
												@*<td> @role.NormalizedName </td>*@
												<td> @role.Name </td>
												<td>
													<form method="post" class="d-inline">
														<input type="hidden" asp-for="@Model.RoleToRemove" value="@role.NormalizedName" />
														<input type="submit" class="btn btn-sm btn-danger top5" value="Delete Role" asp-page-handler="DeleteRole" />
														<a class="btn btn-sm btn-warning disabled top5 ml-1">Edit Role</a>
													</form>

												</td>
											</tr>
										}
										<tr>
											<td colspan="4" class="text-center"><a asp-page="./Roles" class="btn btn-sm btn-success"><i class="fa fa-plus">&nbsp;</i>&nbsp;Create role</a></td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>




