@model LIMSWebApp.ViewModels.LIMSViewModels.ParcelSearchViewModel
@{
    ViewData["Title"] = "Search Land Parcel";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <a style="font-size:smaller;color:black"> @Html.ActionLink("Rates Payment", "payments", "ParcelsIndex", new { id = Model.ID }) </a>|
        <a style="font-size:smaller;color:black"><span><i class="fa fa-download"></i></span> @Html.ActionLink("Download Search Certificate", "CreatePdf", "ParcelsIndex", new { parcelnum = Model.ParcelNumber }) </a>|
        <a style="font-size:smaller;color:black"> @Html.ActionLink("View On Map", "MapView", "ParcelsIndex", new { id = Model.ID })</a>
    </div>
</div>


<div class="row">
    
    <div class="col-md-8" id="=intro">

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-default" id="info">
                    <div class="panel-heading">

                        <h3 class="panel-title">
                            Parcel Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Parcel Number: @Html.DisplayFor(modelItem => Model.ParcelNumber)</p>
                        <p>Area of Parcel: @Html.DisplayFor(modelItem => Model.Area)</p>
                        <p>District: @Html.DisplayFor(modelItem => Model.AdministrationArea)</p>
                        <p>LandUse : @Html.DisplayFor(modelItem => Model.landUse)</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Owners Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Name: @Html.DisplayFor(modelItem => Model.Name)</p>
                        <p>PIN: @Html.DisplayFor(modelItem => Model.PIN)</p>
                        <p>Postal Adress: @Html.DisplayFor(modelItem => Model.Adress)</p>
                        <p>Phone: @Html.DisplayFor(modelItem => Model.Phone)</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Other Parcel Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Tenure Type: @Html.DisplayFor(modelItem => Model.Tenure)</p>
                        <p>Spatial Unit Type: @Html.DisplayFor(modelItem => Model.SpatialUnitType)</p>
                        <p>Valuation Remarks: @Html.DisplayFor(modelItem => Model.ValuationRemarks)</p>
                        <p>Valuer: @Html.DisplayFor(modelItem => Model.Valuer)</p>
                        <p>Registration Type: @Html.DisplayFor(modelItem => Model.RegistrationType)</p>
                        <p>Registration Section: @Html.DisplayFor(modelItem => Model.RegistrationSection)</p>
                        <p>Registration Date: @Html.DisplayFor(modelItem => Model.RegistrationDate)</p>
                        <p>Morgage: @Html.DisplayFor(modelItem => Model.MAmount)</p>
                        <p>Lender: @Html.DisplayFor(modelItem => Model.Lender)</p>
                        <p>Charge Amount: @Html.DisplayFor(modelItem => Model.amount)</p>
                        <p>Charge Lender: @Html.DisplayFor(modelItem => Model.ChargeLender)</p>
                    </div>

                </div>
            </div>

            <div class="col-6">
                @await Html.PartialAsync("MapView")
            </div>
           
        </div>
       
    </div>
   
</div>




