@model LIMSWebApp.ViewModels.LIMSViewModels.ServiceViewModel

<div class="container upload">
    <br />
    <p>Title Number: @Html.DisplayFor(modelItem => Model.ParcelNumber)</p>
    <p>Area of Parcel:@Html.DisplayFor(modelItem => Model.Area)</p>
    <p>Located In: @Html.DisplayFor(modelItem => Model.AdministrationArea)</p>
    <hr />
    <p>Owner: @Html.DisplayFor(modelItem => Model.Name)</p>
    <p>Phone: @Html.DisplayFor(modelItem => Model.Phone)</p>
    <p>Address: @Html.DisplayFor(modelItem => Model.Adress)</p>

    <p>District: @Html.DisplayFor(modelItem => Model.AdministrationArea)</p>
    <hr />
    <div class="pb-cmnt-container">
        <div class="row">
            <div class="col-md-9 ">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <textarea placeholder="Write Your Mortivation here" class="pb-cmnt-textarea"></textarea>
                        <form class="form-inline">
                            
                            <button class="btn btn-primary pull-right" type="button">Share</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        @await Html.PartialAsync("~/Views/FileUploader/UploadFiles.cshtml")
    </div>
    
</div>



@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
