@model LIMSWebApp.ViewModels.TransactionViewModels.ServicesViewModel

<div class="jumbotron-fluid justify-content-center">

    @*<p>Title Number: @Html.DisplayFor(modelItem => Model.ParcelNumber)</p>
    <p>Area of Parcel:@Html.DisplayFor(modelItem => Model.Area)</p>
    <p>Located In: @Html.DisplayFor(modelItem => Model.AdministrationArea)</p>
    <hr />
    <p>Owner: @Html.DisplayFor(modelItem => Model.Name)</p>
    <p>Phone: @Html.DisplayFor(modelItem => Model.Phone)</p>
    <p>Address: @Html.DisplayFor(modelItem => Model.Adress)</p>
    >
    <p>District: @Html.DisplayFor(modelItem => Model.AdministrationArea)</p>*@
</div>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
