@model LIMSCore.Entities.GroupLeadership

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroupLeadership</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadershipRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadershipRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadershipSince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadershipSince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadershipStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadershipStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadershipUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadershipUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupLeadershipId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
