@model LIMS.Core.Entities.Parcel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parcel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParcelNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParcelNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administration.DistrictName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandUse.LandUseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnershipRight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnershipRight.RightType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registration.RegistrationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsibility.ResponsibilityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restriction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restriction.RestrictionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpatialUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpatialUnit.SpatialUnitType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenure.TenureType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valuation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valuation.ValuationBookNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ParcelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
