@model IEnumerable<LIMS.Core.Entities.GroupLeadership>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeadershipRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadershipSince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadershipStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadershipUntil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeadershipRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadershipSince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadershipStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadershipUntil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupLeadershipId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupLeadershipId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupLeadershipId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
