@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@model IEnumerable<LIMSWebApp.ViewModels.PropertiesViewModels.PropertiesViewModel>

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "PropertiesView";
}

<h2>Property Owned</h2>

@*<div>
        <span class="text-lg-left">Owner:</span> <span class="text-lg-right">@UserManager.GetUserName(User)</span>
    </div>*@



@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover table-light">
            <thead class="thead-dark">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.ParcelNum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenureType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rate)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.ParcelNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenureType)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </th>

                        <td>

                            
                            @Html.ActionLink("Details","ParcelDetails", "ParcelsIndex", new { parcelnum = item.ParcelNum }, new { @class = "btn btn-outline-info" }) 
                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                            @*@Html.ActionLink("Rates Payment", "Payments", "Index", new { parcelnum = item.ParcelNum }, new { @class = "btn btn-outline-info" })*@ 
                            @*@Html.ActionLink("New Payment", "", new { @data_toggle = "modal", @data_target = "#PaymentNotification" }, new { @class = "btn btn-outline-info" })*@
                            <span><button class="btn btn-outline-info" data-toggle="modal" data-target="#PaymentNotification">Make New Payment</button></span>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


}
else
{
    <p class="alert-info"></p>
    <div class="alert alert-info">
        <strong>You do not own any property.</strong>
    </div>

}

<a class="btn btn-outline-info" role="button" asp-controller="Account" asp-action="UserProfile">Go to Services</a>
@*Modal dialog*@
<div class="modal fade" id="PaymentNotification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LIMS Portal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your About to be re-directed to an external payment link do you wish to continue?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>               
                <a class="btn btn-info" asp-controller="Payments" asp-action="Index">Continue</a>
            </div>
        </div>
    </div>
</div>



