@model LIMS.Core.Entities.Charge

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Charge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ranking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepaymentTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepaymentTerm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChargeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
