@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@model LIMSWebApp.ViewModels.LIMSViewModels.ParcelSearchViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Search Land Parcel";
    Layout = "_Layout";
}

<script> var routeId = '@ViewData["MyRouteId"]'; </script>

<div class="row">
    <div class="col-md-12 top5" style="display:inline-block">

        @*<span>@Html.ActionLink("Download Search Certificate", "CreatePdf", "ParcelsIndex", new { parcelnum = Model.ParcelNumber }, new { @class = "btn btn-outline-info" }) </span>*@
        <span>
            <a href="@Url.Action("CreatePdf", "Parcels", new { parcelnum = Model.ParcelNumber })" class="btn btn-sm btn-outline-info">
                <i class="fa fa-download"></i>
                <span>
                    <strong>Search Certificate</strong>
                </span>
            </a>
        </span>

        @if (ViewData["UserPIN"].ToString() == Model.PIN)
        {
            <span><button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#ratesModal">Rates History</button></span>
        }
        else
        {
            <span></span> @*<span><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#ratesModal">You dont have rights here</button></span>*@
        }



        <span><button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#ParcelSearchModal">Search Another Parcel</button></span>
    </div>

</div>

<div class="row">
    <div class="col-md-6 top10">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5 class="text-primary">Parcel Details</h5>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <th>Parcel Number:</th>
                            <td>@Html.DisplayFor(modelItem => Model.ParcelNumber)</td>
                        </tr>
                        <tr>
                            <th>Area of Parcel:</th>
                            <td>@Html.DisplayFor(modelItem => Model.Area) ha.</td>
                        </tr>
                        <tr>
                            <th>District:</th>
                            <td>@Html.DisplayFor(modelItem => Model.AdministrationArea)</td>
                        </tr>
                        <tr>
                            <th>Land Use:</th>
                            <td>@Html.DisplayFor(modelItem => Model.landUse)</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="col-md-6 top10">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5 class="text-primary">Owner Details</h5>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <th>Owner Name:</th>
                            <td>@Html.DisplayFor(modelItem => Model.Name)</td>
                        </tr>
                        <tr>
                            <th>Owner PIN:</th>
                            <td>@Html.DisplayFor(modelItem => Model.PIN)</td>
                        </tr>
                        <tr>
                            <th>Postal Address:</th>
                            <td>@Html.DisplayFor(modelItem => Model.Adress)</td>
                        </tr>
                        <tr>
                            <th>Phone Number:</th>
                            <td>@Html.DisplayFor(modelItem => Model.Phone)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6 top10">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5 class="text-primary">Other Property Details</h5>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <th>Land Tenure Type:</th>
                            <td>@Html.DisplayFor(modelItem => Model.Tenure)</td>
                        </tr>
                        <tr>
                            <th>Spatial Unit Type:</th>
                            <td>@Html.DisplayFor(modelItem => Model.SpatialUnitType)</td>
                        </tr>
                        <tr>
                            <th>Valuation Remarks:</th>
                            <td>@Html.DisplayFor(modelItem => Model.ValuationRemarks)</td>
                        </tr>
                        <tr>
                            <th>Land Valuer:</th>
                            <td>@Html.DisplayFor(modelItem => Model.Valuer)</td>
                        </tr>
                        <tr>
                            <th>Registration Type:</th>
                            <td>@Html.DisplayFor(modelItem => Model.RegistrationType)</td>
                        </tr>
                        <tr>
                            <th>Registration Section:</th>
                            <td>@Html.DisplayFor(modelItem => Model.RegistrationSection)</td>
                        </tr>
                        <tr>
                            <th>Registration Date:</th>
                            <td>@Html.DisplayFor(modelItem => Model.RegistrationDate)</td>
                        </tr>
                        <tr>
                            <th>Mortgage:</th>
                            <td>@Html.DisplayFor(modelItem => Model.MAmount)</td>
                        </tr>
                        <tr>
                            <th>Mortgage Lender:</th>
                            <td>@Html.DisplayFor(modelItem => Model.Lender)</td>
                        </tr>
                        <tr>
                            <th>Charge Amount:</th>
                            <td>@Html.DisplayFor(modelItem => Model.amount)</td>
                        </tr>
                        <tr>
                            <th>Charge Lender:</th>
                            <td>@Html.DisplayFor(modelItem => Model.ChargeLender)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6 top10">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5 class="text-primary">Parcel Location on Map</h5>
                </div>
                <div id="map" style="height: inherit;width:auto">
                    <div id="throbber">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif"
                             alt="Spinning wheel">
                    </div>
                </div>
                <div id="popup" class="ol-popup text-justify text-info">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Payments History Modal -->
<div class="modal fade" id="ratesModal" tabindex="-1" role="dialog" aria-labelledby="rates Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Land Rates Payment History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-sm table-responsive">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Receipt Number</th>
                                    <th>Mode Of Payment</th>
                                    <th>Payment Date</th>
                                    <th>Amount Paid</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Payments)
                                {
                                    string selectedRow = "";
                                    if (item.ParcelId == (int?)ViewData["Rateid"])
                                    {
                                        selectedRow = "success";
                                    }
                                    <tr class="@selectedRow">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReceiptNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModeOfPayment)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PaymentDate)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-controller="Payments" asp-action="PayWithMpesa" class="btn btn-info">Make New Payment</a>
            </div>
        </div>
    </div>
</div>

<!--Search Modal-->
<div class="modal fade" id="ParcelSearchModal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Search Parcel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6 text-center" style="border-radius:5px; background-color:azure; padding:10px">

                                    <form role="form" asp-controller="Parcels" asp-action="ParcelDetails" method="get">
                                        <div class="form-group">
                                            <h4 class="text-accent-1">Enter Parcel Number</h4>
                                            <input type="text" placeholder="Parcel Number" name="parcelnum" class="form-control" id="exampleInputEmail1" /><br /><br />
                                            <button class="btn btn-dark text-center" type="submit">Search</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>             
            </div>
        </div>
    </div>
</div>

@section Scripts{
	<script src="~/js/maps.js"></script>
}





