@model LIMS.Core.Entities.Reserve

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserve</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplianceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplianceStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnforcingAuthority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnforcingAuthority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReserveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReserveType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReserveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
