@model IEnumerable<LIMSCore.Billing.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.InvoiceNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InvoiceAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateCreated)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateDue)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Parcel)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>

			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.InvoiceNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.InvoiceAmount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DateCreated)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DateDue)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Parcel.ParcelNum)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.InvoiceId">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.InvoiceId">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.InvoiceId">Delete</a> |
				<a href="@Url.Action("checkout", "Payments", new { property = item.Parcel.ParcelNum, invoicenumber = item.InvoiceNumber })" class="btn btn-sm btn-warning">
					<i class="fa fa-money-bill-alt"></i>
					<span>
						<strong>Make Payment</strong>
					</span>
				</a>
			</td>
		</tr>
}
    </tbody>
</table>
