@model IEnumerable<LIMS.Core.Entities.BuildingRegulation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlotFrontage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlotFrontage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BuildingRegulationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BuildingRegulationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BuildingRegulationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
