@model IEnumerable<LIMS.WebApp.ViewModels.LIMSViewModels.ParcelSearchViewModel>



<h2>edit</h2>

@if (Model.Any())
{
	<h4>List of Parcels</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<div class="table-responsive table-sm">
				<table id="properties_table" class="table table-hover table-light">
					<thead class="thead-dark">
						<tr>

							<th>
								Parcel Number
							</th>
							<th>
								Parcel Owner
							</th>
							
							<th>
								Actions
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>

								<td>
									@Html.DisplayFor(modelItem => item.ParcelNumber)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Invoices.Count)
								</td>
	
								<td>
									@Html.ActionLink("Details", "ParcelDetails", "Parcels", new { parcelnum =item.ParcelNumber }, new { @class = "btn btn-sm btn-outline-info" })
									@Html.ActionLink("Delete", "DeleteParcel","Parcels", new { parcelnum = item.ParcelNumber })
									@Html.ActionLink("Edit", "Payments", "Index", new { parcelnum = item.ParcelNumber }, new { @class = "btn btn-outline-info" })
									@Html.ActionLink("New Payment", "", new { @data_toggle = "modal", @data_target = "#PaymentNotification" }, new { @class = "btn btn-outline-info" })
								</td>



							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}


<div>
	<a asp-action="Index">Back to home page</a>
</div>

