@model LIMSCore.Entities.Restriction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restriction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestrictionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestrictionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charge.ChargeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mortgage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mortgage.MortgageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserve.ReserveId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutoryRestriction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutoryRestriction.StatutoryRestrictionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RestrictionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
