@model LIMSCore.Entities.Parcel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Parcel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParcelNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParcelNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administration.AdministrationId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandUse.LandUseId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnershipRight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnershipRight.OwnershipRightId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate.RateId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registration.RegistrationId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsibility.ResponsibilityId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restriction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restriction.RestrictionId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpatialUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpatialUnit.SpatialUnitId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenure.TenureId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valuation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valuation.ValuationId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ParcelId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
