@model LIMSCore.Entities.Payments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeOfPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeOfPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parcel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parcel.ParcelNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaymentsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
