@model LIMSCore.Entities.Restriction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restriction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandUseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandUseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestrictionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestrictionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chrage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chrage.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morgage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morgage.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserve.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statutory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statutory.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
