@model LIMS.WebApp.ViewModels.InvoiceViewModels.InvoiceViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-controller="Home" asp-action="Index">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-controller="Properties" asp-action="Properties">my-properties</a>
		</li>
		
		<li class="breadcrumb-item active">invoice-details</li>
	</ol>
</div>

<div>
    <h4 class="text-muted">Invoice Details</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InvoiceNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InvoiceNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InvoiceAmount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InvoiceAmount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DateCreated)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DateCreated)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DateDue)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DateDue)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ParcelNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ParcelNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Status)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Status)
		</dd>
	</dl>
</div>
<div>
	@if (Model.Status == "Not Paid")
	{
		<a class="btn btn-sm btn-success" data-tippy="Make Payment" href="@Url.Action("checkout", "Payments", new { property = Model.ParcelNumber, invoicenumber = Model.InvoiceNumber })" >
			<i class="fa fa-money-bill-alt"></i> Make Payment
		</a>		
	}

	@*<a asp-action="Edit" asp-route-id="@Model.InvoiceID">Edit</a> |
	<a asp-action="Index">Back to List</a>*@
</div>
