@model LIMSCore.Entities.Registration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jurisdiction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jurisdiction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RegistrationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
